/* Style global */
body {
    margin: 0;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    transition: background-color 0.5s, color 0.5s;
    padding: 20px;
    background: #f0f0f0;
    color: #333;
}

/* Styles activés par le code Konami */
body.konami {
    background: linear-gradient(135deg, #ff0055, #0055ff);
    color: #fff;
}

/* Titres */
h1 {
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 20px;
}

body.konami h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
    text-align: center;
    margin: 20px 0;
}

h3 {
    font-size: 1.5em;
    margin-top: 20px;
}

/* Paragraphes */
p {
    max-width: 800px;
    margin: 0 auto 20px auto;
    text-align: justify;
}

/* Images */
img {
    display: block;
    max-width: 300px;
    margin: 20px auto;
}

/* Section */
section {
    padding: 20px;
    background: #88b9e3;;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 900px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

body.konami section {
    background: rgba(255,255,255,0.1);
    box-shadow: none;
}

/* Liens */
a {
    color: #f0f1f1;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
